<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${appName}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <footer class="mt-auto" th:fragment="equalyFooter">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); font-size: 12px; padding: 0px">
            With Equaly we address the <b><a class="text-dark" target="_blank" rel="noopener noreferrer" href="https://unric.org/en/sdg-5/">5th goal</a></b> of the United Nations for peace, prosperity and sustainable development.
            <br>Made with ❤ on <b><a class="text-dark" target="_blank" rel="noopener noreferrer" href="https://github.com/HWR-Berlin-SWE-II-Gruppe-2-Team-3-2022">GitHub.com</a></b>
        </div>
    </footer>
</body>
</html>