<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${appName}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <div th:fragment="equalyNavbar" style="vertical-align: middle">
        <div id="navbar-container">
            <nav class="navbar navbar-dark bg-dark" style="background-image: linear-gradient(to right, rgba(255, 58, 33, 1) , rgba(255, 189, 89, 1)); !important">
                <a class="navbar-brand" href="/"><img style="margin-bottom: 5px" width="25px" height="auto" th:src="@{/img/logo.png}" alt="Equaly Logo"> <span th:text="${appName}"></span></a>
            </nav>
        </div>
    </div>
</body>
</html>